@use 'styles/parameters.scss';

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aliceblue;
}

header{
    background-color: blanchedalmond;
}

main{
    background-color: blueviolet;
    .container{
        display: flex;
        .squares{
            width: 100px;
            height: 100px;
            background-color: brown;
            &:nth-child(odd){
                background-color: greenyellow;
            }
            &:nth-child(even){
                background-color: green;
            }
            &.snake{
                @include parameters.snake;
            }
        }
    }
}